<!-- Generated template for the ProductCardComponent component -->

<ion-card-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col class="img-container">
        <img class="product-img" [src]="product.image"/>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-grid>
            <ion-row class="product-id">
              {{product.id}}
            </ion-row>
            <ion-row class="product-company">
             {{product.company }}
            </ion-row>
            <ion-row class="product-details">{{product.type}} &#8226;
          {{product.subtype}} &#8226;
            {{product.description}}</ion-row>
            <ion-row margin></ion-row>
            <ion-row class="product-price">{{product.price |currency:'INR':true}}</ion-row>
            <ion-row>
              <button *ngIf="!cartItems[product.$key]; else updateQuantity" (click)="addToCart(product)" ion-button block>
                Add to order
              </button>
              <ng-template #updateQuantity>
                <ion-row>
                  <ion-col>
                    <button>
                      <ion-input type="number" text-center [(ngModel)]="cartItems[product.$key]['quantity']"></ion-input>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button color="danger" ion-button icon-only (click)="delete(product.$key)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ng-template>
            </ion-row>
          </ion-grid>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
