product-card {
  .mycontent {
    padding: 6px;
  }
  .mycard {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    .product-img {
      height: "auto";
      width: "100%";
      align-self: center;
    }
  }
  .product-id {
    color: gray;
  }
  .product-company {
    font-size: x-large;
    text-transform: capitalize;
  }
  .product-details {
    color: #333;
  }
  .product-price {
    font-size: large;
  }
}
