<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <div>
      <ion-list>
        <ion-item-divider color="primary">
          Company
        </ion-item-divider>

        <div class="form-group">

          <ion-item *ngFor="let company of companys">
            <ion-label>{{company.name}}</ion-label>
            <ion-checkbox name="companys" [(ngModel)]="company.checked">
            </ion-checkbox>
          </ion-item>
        </div>
      </ion-list>

      <ion-grid>
        <ion-item-divider color="primary">
          Type
        </ion-item-divider>
        <ion-row>
          <ion-col *ngFor="let type of types" >
            <ion-item>
              <ion-label>{{type.name}}</ion-label>
              <ion-checkbox item-right name="types" [(ngModel)]="type.checked" ></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
     

      <ion-grid>
        <ion-item-divider color="primary">
          Subtype
        </ion-item-divider>
        <ion-row>
          <ion-col *ngFor="let subtype of subtypes">
            <ion-item>
              <ion-label>{{subtype.name}}</ion-label>
              <ion-checkbox item-right [(ngModel)]="subtype.checked" name="subtype"></ion-checkbox>
            </ion-item>
          </ion-col>
          
        </ion-row>
      </ion-grid>

      <button ion-button type="button" (click)="onFilter()" block clear large>Filter</button>
    </div>
    <button ion-button block outline (click)="logout()" class="btn btn-primary">Logout</button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
